<!DOCTYPE html>
<html lang="pt - br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bloco de notas</title>
    <link rel="stylesheet" href="Home.css">

</head>
<body> 
    <div class="cabecalho">
        <h1> bem vindo ao bloco de notas</h1>  
        <p> aqui voce podera guardar suas musicas,fotos,e 
            escrever sobre trabalho,projeto totalmente seguro e confiavel  </p>
        <button type="button">Entar</button>
        <button type="button1">Registar-se</button>
    </div>
    <img width="500px" center:opx auto; height="500px"  src="https://thumbs.dreamstime.com/b/fundo-do-bloco-de-notas-16279841.jpg"
    
     
    
    

    
</body>
</html>
